body{
    background-color: darkblue;
    margin: 0;
    padding: 0;
}

#header{
        background-color: lightblue;
        font-size: 50px;
        text-align: center;
}

#container{
         background-color: aqua;
         display: inline-block;
         width: 900px;
         height: 400px;
        
        margin-top: 100px;
        margin-left: 300px;
        
}



#form{
    margin-top: 50px;
}

#form label {
        font-size: 20px;
        margin-left: 20px;
}

#form input {
       width: 300px;
       height: 30px;
        border-radius: 4px;
}

#btn{
    margin-left: 300px;
    
}

#form button{
    font-size: 30px;
    margin-top: 50px;
    width: 300px;
    background-color: rgb(73, 73, 159);
}

@media screen and (max-width: 480px) {

    #container{
      width: 90%;
      max-width:700px;
      height: auto;
     margin-top: 100px;
     margin-left: 20px;
     margin-right: 20px;
     padding: 20px;
    
 }

 #form label {
    font-size: 16px; /* Reduced font-size for better fit */
    margin-left: 0; /* Center align for mobile */
    display: block;
    margin-bottom: 5px
}

#form input {
    width: 90%; /* Full width for better usability */
    max-width: 500%; /* Keep input responsive */
    height: 35px;
    margin: 10px;
    margin-left: 10px;
margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 5px; /* Add padding for text inside input */
  }
}

#btn{
    margin-left:  20px;
      
}

